.mainDiv {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 75%;
    background-color: rgba(0,0,0,0.8);
}
.none {
    display: none;
}

.userDiv {
    display: flex;
    border: 1px solid white;
    flex-direction: column;
}

.userDiv > div {
    min-height: 80px;
    word-spacing: 6px;
    padding-left: 10px;

}