@font-face {
    src: url(../../fonts/AgenzadaDemo-Italic.otf);
    font-family: Agenzada;
}


.inspirationContainer {
    width: 100%;
    height: 100vh;
}
.navigationSection {
    width: 100%;
    height: 15%;
    border: 1px solid white;
}

.quoteOfTheDaySection {
    width: 100%;
    height: 50%;
    border: 1px solid white;
    position: relative;
    background-color: grey;

}
.quoteHeader {
    position: absolute;
    top: 0;
    left: 20%;
    padding-left: 5px;
    padding-right: 5px;
    transform: translate(-50%, -50%);
    border: 2px solid red;
    border-radius: 10px;
    background-color: gray;
    z-index: 5;


}
.quoteContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.quote {
    width: 100%;
    height: 80%;
    position: relative;
    border: 2px solid red;
    border-radius: 20px;
}
.quote::after {
    content: "";
    position: absolute;
    border: 2px solid red;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    border-bottom: none;
    border-left: none;
    top: calc(100% - 1px);

    left: 59px;
}
.quote::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: -3px;
    left: 60px;
    border: 6px solid grey;
}
.quote > p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Agenzada;
    font-size: 2vw;

}
.author {
    width: 100%;
    height: 20%;
    text-align: left;
    font-family: Agenzada;
    font-size: 10px;
    margin-left: 270px;
    margin-top: 20px;

}

.randomQuotesSection {

    width: 100%;
    height: 35%;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
    

}

.one {
    position: absolute;
    top: 0;
    left: -100%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    background-color: green;
   transition: all 5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.two {
    width: 100%;
    height: 100%;
    background-color: red;
    transition: all 5s cubic-bezier(0.165, 0.84, 0.44, 1);

}
