.notesContainer {
    width: 100%;
    height: 100vh;
    background-image: url('../../images/notesBackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.addNoteSection {
 width: 100%;
 height: 10%;
 border: 1px solid black;
}
.addNoteForm {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addNoteInput {
width: 70%;
}
.addNoteReminder {
 width: 15%;
}
.addNoteSubmit {
width: 15%;
}

.myNotesSection {
    width: 100%;
    height: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.filters {
    width: 100%;
    text-align: center;
}
.notesList {
    width: 100%;
    text-align: center;
}
.chartsSection {
width: 100%;
height: 20%;
border: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}