.mainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

}
.form {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rightSide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.leftSide {
    display:none;
}
@media (min-width: 1000px) {
  
.leftSide{
 position: fixed;
 top: 0;
 left: 0;
 width: 50%;
 height: 100vh;
 display: inline-block;
}
.rightSide {
 position: fixed;
 display: inline-block;
 top: 0;
 left: 50%;
 width: 50%;
 height: 100vh;
}


}