.mainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

}
.form {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rightSide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.leftSide {
    display:none;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}
.none{
    display: none;
}
.errorMessage {
    margin: 0 auto;
    color: red;
    font-size: 12px;
    background-color: rgba(255,0,0,0.2);
    margin: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    border: 1px solid red;
}
@media (min-width: 1000px) {
  
.leftSide{
 position: fixed;
 top: 0;
 left: 0;
 width: 50%;
 height: 100vh;
 display: inline-block;
}
.rightSide {
 position: fixed;
 display: inline-block;
 top: 0;
 left: 50%;
 width: 50%;
 height: 100vh;
}


}