@font-face {
    src: url('../fonts/AdventPro-ExtraLight.ttf');
    font-family: Advent;
}
.mainDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: Advent;
    font-weight: bolder;
}
.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: green;
}
.pictureSectionPopup {
    width: 100%;
    border: 1px solid black;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit {
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picturePopup {
   width: 300PX;       
   height: 300PX;
   BORDER:2PX SOLID WHITE;
   BORDER-RADIUS: 50%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
}
.inputSectionPopup {
    width: 100%;
    border: 1px solid black;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttonsSectionPopup {
    width: 100%;
    border: 1px solid black;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttons {
    width: 70%;
    display: flex;
    justify-content: space-around
}
.confirmButton {
    width: 40%;
    background-color: green;
}
.cancelButton {
    width: 40%;
    background-color: red;
}
.none {
    display: none;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/selena.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: contrast(0.1);
    filter: blur(10);
}

.photoSection {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.picture {
    width: 100px;
    height: 100px;
    border:2px solid black;
    border-radius: 50%;
    background-image: url('../images/selena.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.name {
    width: 100%;
    text-align: center;
}

.infoSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.infoSectionBox {
    
    min-width: 20%;
    padding: 25px;
    border-radius: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 10px 0px rgba(15,27,255,1);
    background-color: black;
    color: white;
    letter-spacing: 2px;

}
.infoSpanDetail {
    color: blue;
    letter-spacing: 2px;
}