.span::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-image:url('../icons/searchIcon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
     
 }
 .route1TasksNav_searchDiv_input {
    width: 80%;
    min-height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15%;
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in;

}
.route1TasksNav_searchDiv_input:focus {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border: 1px solid rgb(0,191,255);
}
.route1TasksNav_searchDiv {
    width: 40%;
    min-height: 60px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    position: relative;

}