.sidebarContainer {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    max-width: 25%;
    min-height: 100vh;
    background-color: grey;
}

.none {
    display: none;
    min-width: 20%;
    max-width: 25%;
}
.profile, .settings, .inbox, .contact, .help, .logout {
    width: 100%;
    min-height: 50px;
    background-color: grey;
    border-bottom: 1px solid black;
    color: white;

}


@media (min-width:1000px) {
    .sidebarContainer{
        display: flex;
        min-width: 20%;
        max-width: 25%;
        background-color: grey;
    }
    .none {
        display: block;
        background-color: grey;
    }

}