.sidebarContainer {
    display: flex;
    flex-direction: column;
   
    min-width: 35%;
    min-height: 100vh;
    background-color: grey;
    z-index: 20;
    border: 0 2px 0 0;
    border-color: white;
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.68, 0.44, 0.265, 1);
}

.none {
   opacity: 0;
   transform: translate(-35%,0);
   width: 0;

}
.profile, .settings, .inbox, .contact, .help, .logout {
    width: 100%;
    min-height: 50px;
    background-color: grey;
    border-bottom: 1px solid black;
    color: white;

}
.logout {
    cursor: pointer;
}
.logout:hover {
    color: black;
    background-color: white;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(255,255,255,0.8);
}
@media (min-width:1000px) {
    .sidebarContainer{
        display: flex;
        min-width: 20%;
        max-width: 25%;
        background-color: grey;
    }
    .none {
        display: block;
        opacity: 1;
        visibility: visible;
        background-color: grey;
        width: 25%;
        transform: translate(0,0);
    }

}