.routerDiv {
  position: absolute;
  left: 20%;
  width: 80%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  background-color: gray;
  position: relative;
}
@media (min-width:1000px) {

}