.routerDiv {
  position: absolute;
  left: 15%;
  width: 85%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  background-color: rgb(237,242,246);
  position: relative;
}
@media (min-width:1000px) {

}